:root{
  --primary-color: #8C98C6;

  --facebook-color: #178FF5;
  --twitter-color: #1DA1F2;
  --youTube-color: #C4032B;
  --instagram-color: linear-gradient(40deg,#FDC366, #EE877E, #DF4896);

  --improve-statistics: #1EB589;
  --low-statistics: #DC414C;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: white;
  background-color: #1D1F29;
}
